@model PortfolioProject_2.Models.Entity.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h4>Yetenek Düzenleme</h4>
<br />
<form method="post">
    @Html.Label("Yetenek Başlığı")
    @Html.TextBoxFor(x => x.Skills, new { @class = "form-control" })
    <br />
    @Html.Label("Bilgi Seviyesi")
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Yeteneği Düzenle</button>
</form>

